# Django
django==4.2.13

# Configuration
django-environ==0.11.2

# Whitenoise
whitenoise==6.6.0

# MySQL
mysqlclient==2.2.4

# Django-mysql
django-mysql==4.13.0

# WSGI Handler
gevent==24.2.1
gunicorn==22.0.0

# Models
django-model-utils==4.5.1

# Images
Pillow==10.3.0

# https://www.django-rest-framework.org
djangorestframework==3.15.1
django-filter==24.2

# JWT
# https://github.com/davesque/django-rest-framework-simplejwt
djangorestframework-simplejwt==5.3.1

# Django Reversion
django-reversion==5.0.12

# Django Extension
# http://chibisov.github.io/drf-extensions/docs/
drf-extensions==0.7.1
# https://github.com/chibisov/drf-extensions/archive/master.zip

# Json API
# https://github.com/django-json-api/django-rest-framework-json-api
djangorestframework-jsonapi==7.0.0

# https://django-rest-swagger.readthedocs.io/en/latest/
# Main Contribute Not Longer Support
# https://github.com/sang-sakarin/django-rest-swagger/archive/master.zip
https://github.com/sang-sakarin/django-rest-swagger/archive/stable/2.1.4.zip

# Raven is the Sentry client
raven==6.10.0

# Translate Model
# https://github.com/deschler/django-modeltranslation
django-modeltranslation==0.19.1

# Time zones support
pytz==2024.1

# Static and Media Storage
boto3==1.34.113
django-storages==1.14.3

# Background job
celery==5.4.0

# Redis
redis==5.0.4
django-redis==5.4.0

# https://pypi.org/project/django-cors-headers/?
django-cors-headers==4.3.1

# Django Model Changed
# https://github.com/iansprice/django-model-changes-py3
django-model-changes-py3==0.15.1

# Django Debug Toolbar
# https://django-debug-toolbar.readthedocs.io/en/latest
django-debug-toolbar==4.4.1

# https://coverage.readthedocs.io/en/v4.5.x/cmd.html
coverage==7.5.2

# https://faker.readthedocs.io/en/master/
Faker==25.2.0

# https://github.com/FactoryBoy/factory_boy
factory-boy==3.3.0

# https://pypi.org/project/django-celery-beat/
# Django Celery Beat
django-celery-beat==2.6.0
